// COLORS
$white: #fff;
$black: #000;
$darkOrange: #EA6A11;
$orange: #F29558;
$lightOrange: #FFFAF7;

$primaryColor: $darkOrange;
$primaryColorVariant: $orange;
$backgroundColor: $lightOrange;

$textColor: $black;
$secondTextColor: $white;
$titleColor: $primaryColor;
$secondTitleColor: $primaryColorVariant;

// OTHER
$borderRadius: 0.5rem;
